<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Regression Suite" parallel="false">

    <!-- Define Test Block -->
    <test name="Jenkins_Execution">
        <!-- Define classes to be run -->
        <classes>
            <class name="testCase.TestCase"/>
            <!-- You can define multiple classes to be executed -->
            <!-- <class name="packageName.OtherClassName"/> -->
        </classes>
    </test>
    
    <!-- Optional: Define listeners for custom reporting/logging -->
    <listeners>
        <listener class-name="utility.ListenerClass"/>
    </listeners>

</suite>
